@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel__dot {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    margin: 0 11px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .carousel__dot--selected {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: white;
    transition: background 0.4s ease;
  }

  .carousel__inner-slide{
    width: calc(100% - 16px);
    margin-left: 8px;
  }